[submodule "main_page"]
	path = main_page
	url = https://github.com/Appraisily/main_page
[submodule "art-appraisers-landing"]
	path = art-appraisers-landing
	url = https://github.com/Appraisily/art-appraisers-landing
